.app-container.nice-kbds--styles-all kbd,
.app-container.nice-kbds--styles-plugin kbd.nice-kbd {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.15em 0.4em;
    font-family: var(--font-text);
}

body.theme-dark .app-container.nice-kbds--styles-all kbd,
body.theme-dark .app-container.nice-kbds--styles-plugin kbd.nice-kbd {
    border-color: rgb(170, 170, 170);
    background-color: rgba(210, 210, 210, 1);
    color: black;
    caret-color: black;
}

body.theme-light .app-container.nice-kbds--styles-all kbd,
body.theme-light .app-container.nice-kbds--styles-plugin kbd.nice-kbd {
    border-color: rgb(170, 170, 170);
    background-color: rgba(230, 230, 230, 1);
}
